main {
	font-family: Times New Roman;
	width: 60%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	background-color: linen;
	border-radius: 15px;
}

h1 {
	text-align: center;
	padding-top: 15px;	
}

h2 {
	text-align: left;
	padding-left: 15px;		
	padding-right: 15px;	
}

p {
	font-size: 24px;
	padding-left: 15px;		
	padding-right: 15px;	
	text-align: justify;
}

.code {
	padding-left: 15px;		
	padding-right: 15px;	
	text-align: left;
	font-family: Courier New;
	font-weight: bold;
	border: 1px solid gray;
	margin: 10px;
	border-radius: 15px;
}

.input {
	padding-left: 15px;		
	padding-right: 15px;	
	padding-bottom: 15px;	
	text-align: left;
}

#ip {
	display: inline-block;
	width: 200px;
	height: 24px;
	font-size: 1em;
	font-family: Courier New;
}

#button {
	display: inline-block;
	width: 90px;
	height: 32px;
	font-weight: bold;
	border-radius: 10px;
	font-size: 20px;
}

#result {
	font-size: 24px;
	height: 32px;
	padding-left: 15px;		
	padding-right: 15px;	
	text-align: center;
	font-weight: bold;
	color: blue;
	border: 1px solid gray;
	border-radius: 10px;
	
}